<body>
<!--发票开具界面-->
<div class="modal fade" id="invoiceModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">发票信息（收费）</h4>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div class="form-group  row">
                        <label class="col-sm-2 col-form-label">发票号（可修改）：</label>
                        <div class="col-sm-10"><input type="text" class="form-control"></div>
                    </div>

                    <div class="form-group  row">
                        <label class="col-sm-2 col-form-label">病历号：</label>
                        <div class="col-sm-10"><input type="text" class="form-control"></div>
                    </div>
                    <div class="form-group  row">
                        <label class="col-sm-2 col-form-label">患者姓名：</label>
                        <div class="col-sm-10"><input type="text" class="form-control"></div>

                    </div>
                    <div class="form-group  row">
                        <label class="col-sm-2 col-form-label">支付方式：</label>
                        <div class="col-sm-10"><select class="form-control m-b" name="account">
                            <option>现金</option>
                            <option>医保卡</option>
                            <option>银行卡</option>
                            <option>信用卡</option>
                            <option>微信</option>
                            <option>支付宝</option>
                            <option>云闪付</option>
                            <option>其他</option>
                        </select>
                        </div>
                    </div>
                    <div class="form-group  row">
                        <label class="col-sm-2 col-form-label">应收金额：</label>
                        <div class="col-sm-10"><input type="text" class="form-control"></div>
                    </div>
                    <div class="form-group  row">
                        <label class="col-sm-2 col-form-label">实收金额：</label>
                        <div class="col-sm-10"><input type="date" class="form-control"></div>
                    </div>
                    <div class="form-group  row">
                        <label class="col-sm-2 col-form-label">找零金额：</label>
                        <div class="col-sm-10"><input type="text" class="form-control"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="submit" class="btn btn-primary">收费</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--收费界面-->
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-title">
                <h5>患者信息查询</h5>
            </div>
            <div class="ibox-content">
                <div class="form-group  row">
                    <label class="col-sm-2 col-form-label">病历号：</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control">
                        <br>
                        <button type="button" class="btn btn-w-m btn-primary">搜索</button>
                    </div>
                </div>
            </div>

            <div class="ibox-title">
                <h5>患者信息确认</h5>
            </div>
            <div class="ibox-content">
                <div class="form-group  row">
                    <label class="col-sm-2 col-form-label">姓名：</label>
                    <div class="col-sm-10"><input type="text" class="form-control"></div>
                </div>

                <div class="form-group  row">
                    <label class="col-sm-2 col-form-label">身份证号：</label>
                    <div class="col-sm-10"><input type="text" class="form-control"></div>
                </div>
                <div class="form-group  row">
                    <label class="col-sm-2 col-form-label">家庭住址：</label>
                    <div class="col-sm-10"><input type="text" class="form-control"></div>
                </div>
            </div>

            <div class="ibox ">
                <div class="ibox-title">
                    <h5>患者消费信息</h5>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th><input type="checkbox" checked class="i-checks" name="input[]"></th>
                                <th>病历号</th>
                                <th>姓名</th>
                                <th>项目名称</th>
                                <th>单价</th>
                                <th>数量</th>
                                <th>开立时间</th>
                                <th>状态</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><input type="checkbox" checked class="i-checks" name="input[]"></td>
                                <td>乐高玩具
                                    <small>例子</small>
                                </td>
                                <td><span class="pie">0.52/1.561</span></td>
                                <td>20%</td>
                                <td>2017年12月12日</td>
                                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4 col-sm-offset-2">
                            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                    data-target="#invoiceModal" id="chargeNow">
                                收费
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
    });
</script>
</body>