<body>
<div class="modal inmodal" id="searchDisease" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated flipInY">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h5 class="modal-title">搜索疾病</h5>
            </div>
            <div class="modal-body">
                <div class="ibox ">
                    <div class="ibox-content">
                        <div class="search-form">
                            <form>
                                <div class="form-group">
                                    <input type="text" placeholder="请输入疾病类别" name="searchDiseaseCategory"
                                           class="form-control input-lg" list="diseaseCategoryList">
                                    <datalist style="display:none;" id="diseaseCategoryList">
                                    </datalist>
                                </div>
                                <div class="input-group">
                                    <input type="text" placeholder="请输入疾病名称" name="searchDisease"
                                           class="form-control input-lg">
                                    <div class="input-group-btn">
                                        <button class="btn btn-lg btn-primary" type="button" id="searchNow">
                                            搜索
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="search-result" id="searchResult">
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="text-center">
                            <div class="btn-group" id="firstPageNum">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="container">
        <div class="row">
            <div class="col-md-4" style="padding-right: 0px">
                <div class="ibox-title">
                    <div class="row">
                        <div class="col-sm-9">
                            <h4>患者选择：</h4>
                        </div>
                        <div class="col-sm-3">
                            <button class="btn btn-block btn-primary" style="float: right"
                                    onclick="refreshPatientInfo()">
                                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>

                    <!--                    <div class="form-inline">-->
                    <!--                        <label>患者名：</label>-->
                    <!--                        <div><input type="text"></div>-->
                    <!--                        <button type="button" class="btn btn-default">-->
                    <!--                            <i class="fa fa-search" aria-hidden="true"></i>-->
                    <!--                        </button></div>-->
                    <!--                    </div>-->
                </div>
                <div class="ibox-content">
                    <h5>未诊患者：</h5>
                    <div class="table-responsive">
                        <table class="table table-hover" id="patientNotDiagnose">
                            <thead>
                            <tr>
                                <th>病历号</th>
                                <th>姓名</th>
                                <th>年龄</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <h5>已诊患者：</h5>
                    <div class="table-responsive">
                        <table class="table table-hover" id="patientDiagnose">
                            <thead>
                            <tr>
                                <th>病历号</th>
                                <th>姓名</th>
                                <th>年龄</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-8" style="padding-left: 0px;background: white">
                <div class="form-inline">
                    <button class="btn btn-lg btn-primary" id="diagnosingPatientRegistrationID" value="">隐藏患者栏</button>
                    <h3 style="margin-left: 20px" id="diagnosingPatient"></h3>
                </div>
                <div class="tabs-container">
                    <ul class="nav nav-tabs">
                        <li><a class="nav-link active" data-toggle="tab" href="#tab-1">病历首页</a>
                        </li>
                        <li><a class="nav-link" data-toggle="tab" href="#tab-2" aria-controls="home">检查申请</a>
                        </li>
                        <li><a class="nav-link" data-toggle="tab" href="#tab-3" aria-controls="home">检验申请</a>
                        </li>
                        <li><a class="nav-link" data-toggle="tab" href="#tab-4" aria-controls="home">门诊确诊</a>
                        </li>
                        <li><a class="nav-link" data-toggle="tab" href="#tab-5" aria-controls="home">处置申请</a>
                        </li>
                        <li><a class="nav-link" data-toggle="tab" href="#tab-6" aria-controls="home">成药处方</a>
                        </li>
                        <li><a class="nav-link" data-toggle="tab" href="#tab-7" aria-controls="home">费用查询</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active in">
                            <div class="panel-body">
                                <div class="ibox">
                                    <div class="ibox-content">
                                        <form id="medicalRecordInfo">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-md-3 text-center">
                                                        <button class="btn btn-primary btn-xs" type="button"
                                                                onclick="submitMedicalRecord(this)">暂存
                                                        </button>
                                                    </div>
                                                    <div class="col-md-3 text-center">
                                                        <button class="btn btn-primary btn-xs" type="button"
                                                                onclick="submitMedicalRecord(this)">提交
                                                        </button>
                                                    </div>
                                                    <div class="col-md-3 text-center">
                                                        <button class="btn btn-primary btn-xs" type="reset">清空所有
                                                        </button>
                                                    </div>
                                                    <div class="col-md-3 text-center">
                                                        <button class="btn btn-primary btn-xs" type="reset">刷新</button>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="hr-line-dashed"></div>
                                            <div><label>病史内容：</label></div>
                                            <div class="form-group  row">
                                                <label class="col-sm-2 col-form-label">主诉：</label>
                                                <div class="col-sm-10"><input type="text" class="form-control"
                                                                              name="medicalRecordSaying"></div>
                                            </div>
                                            <div class="form-group  row">
                                                <label class="col-sm-2 col-form-label">现病史：</label>
                                                <div class="col-sm-10"><input type="text" class="form-control"
                                                                              name="medicalRecordCurtIllness"></div>
                                            </div>
                                            <div class="form-group  row">
                                                <label class="col-sm-2 col-form-label">现病治疗情况：</label>
                                                <div class="col-sm-10"><input type="text" class="form-control"
                                                                              name="medicalRecordTreat"></div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">既往史：</label>
                                                <div class="col-sm-10"><input type="text" class="form-control"
                                                                              name="medicalRecordPreIllness"></div>
                                            </div>
                                            <div class="form-group  row">
                                                <label class="col-sm-2 col-form-label">过敏史：</label>
                                                <div class="col-sm-10"><input type="text" class="form-control"
                                                                              name="medicalRecordAllergy"></div>
                                            </div>
                                            <div class="form-group  row">
                                                <label class="col-sm-2 col-form-label">体格检查：</label>
                                                <div class="col-sm-10"><input type="text" class="form-control"
                                                                              name="medicalRecordCheck"></div>
                                            </div>
                                            <div class="form-group  row">
                                                <label class="col-sm-2 col-form-label">检察建议：</label>
                                                <div class="col-sm-10"><input type="text" class="form-control"
                                                                              name="medicalRecordCheckAdvice"></div>
                                            </div>
                                            <div class="form-group  row">
                                                <label class="col-sm-2 col-form-label">注意事项：</label>
                                                <div class="col-sm-10"><input type="text" class="form-control"
                                                                              name="medicalRecordWarn"></div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="ibox ">
                                    <div class="ibox-title">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm-10">
                                                    <h5>评估/诊断：</h5>
                                                    <button type="button" class="btn btn-info btn-xs"
                                                            style="float: right"
                                                            id="deleteConfirm">
                                                        删除
                                                    </button>
                                                </div>
                                                <div class="col-sm-2">
                                                    <button type="button" class="btn btn-info btn-xs"
                                                            style="float: right"
                                                            id="addConfirm" data-toggle="modal"
                                                            data-target="#searchDisease">
                                                        增加
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ibox-content">
                                        <div class="table-responsive">
                                            <table class="table table-striped" id="confirmInfoTable">
                                                <thead>
                                                <tr>
                                                    <th><input type="checkbox" checked class="i-checks"
                                                               name="selectAllDisease"></th>
                                                    <th>ICD编码</th>
                                                    <th>名称</th>
                                                    <th></th>
                                                    <th>发病时间</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab-2" class="tab-pane fade">
                            <div class="panel-body">
                                <p>检查申请</p>
                            </div>
                        </div>
                        <div id="tab-3" class="tab-pane fade">
                            <div class="panel-body">
                                <p>近日沃尔沃宣布将联合瑞典汽车安全公司奥托立夫(AUTOLIV)成立一个独立子公司，该公司将专攻瞄准未来车型自动驾驶技
                                    术相关的研发。奥托立夫公司(AUTOLIV)是在瑞典设立的一家国际跨国公司，公司多年来研发汽车电子安全系统、电子控制单元，汽车方向盘系统以及夜视
                                    和雷达传感系统，新的合作能够让新公司吸取Autoliv多年来在汽车驾驶安全配件制造方面的经验，研发未来用于沃尔沃或其它厂商的无人驾驶软件系统。</p>
                            </div>
                        </div>
                        <div id="tab-4" class="tab-pane fade">
                            <div class="panel-body">
                                <p>近日沃尔沃宣布将联合瑞典汽车安全公司奥托立夫(AUTOLIV)成立一个独立子公司，该公司将专攻瞄准未来车型自动驾驶技
                                    术相关的研发。奥托立夫公司(AUTOLIV)是在瑞典设立的一家国际跨国公司，公司多年来研发汽车电子安全系统、电子控制单元，汽车方向盘系统以及夜视
                                    和雷达传感系统，新的合作能够让新公司吸取Autoliv多年来在汽车驾驶安全配件制造方面的经验，研发未来用于沃尔沃或其它厂商的无人驾驶软件系统。</p>
                            </div>
                        </div>
                        <div id="tab-5" class="tab-pane fade">
                            <div class="panel-body">
                                <p>近日沃尔沃宣布将联合瑞典汽车安全公司奥托立夫(AUTOLIV)成立一个独立子公司，该公司将专攻瞄准未来车型自动驾驶技
                                    术相关的研发。奥托立夫公司(AUTOLIV)是在瑞典设立的一家国际跨国公司，公司多年来研发汽车电子安全系统、电子控制单元，汽车方向盘系统以及夜视
                                    和雷达传感系统，新的合作能够让新公司吸取Autoliv多年来在汽车驾驶安全配件制造方面的经验，研发未来用于沃尔沃或其它厂商的无人驾驶软件系统。</p>
                            </div>
                        </div>
                        <div id="tab-6" class="tab-pane fade">
                            <div class="panel-body">
                                <div class="ibox">
                                    <div class="ibox-content">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-8 text-right">
                                                    <div class="row">
                                                        <div class="col-md-2">
                                                            <button class="btn btn-primary btn-xs" type="button">增方
                                                            </button>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <button class="btn btn-primary btn-xs" type="button">删方
                                                            </button>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <button class="btn btn-primary btn-xs" type="button">开立
                                                            </button>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <button class="btn btn-primary btn-xs" type="button">作废
                                                            </button>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <button class="btn btn-primary btn-xs" type="button">刷新
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 text-center">
                                                    <button class="btn btn-primary btn-xs" type="submit"
                                                            style="margin-right: 10px">
                                                        增药
                                                    </button>
                                                    <button class="btn btn-primary btn-xs" type="submit">
                                                        删药
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="hr-line-dashed"></div>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="ibox ">
                                                        <div class="ibox-title">
                                                            <h5>门诊处方：</h5>
                                                        </div>
                                                        <div class="ibox-content">
                                                            <div class="table-responsive">
                                                                <table class="table table-striped"
                                                                       id="preInfo">
                                                                    <thead>
                                                                    <tr>
                                                                        <th></th>
                                                                        <th>名称</th>
                                                                        <th>状态</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-8">
                                                    <div class="ibox ">
                                                        <div class="ibox-title">
                                                            <h5>本处方金额合计：25.31元</h5>
                                                        </div>
                                                        <div class="ibox-content">
                                                            <div class="table-responsive">
                                                                <table class="table table-striped"
                                                                       id="preDetailInfo">
                                                                    <thead>
                                                                    <tr>
                                                                        <th></th>
                                                                        <th><input type="checkbox" checked
                                                                                   class="i-checks"
                                                                                   name="selectAll"></th>
                                                                        <th>药品名称</th>
                                                                        <th>规格</th>
                                                                        <th>单价</th>
                                                                        <th>用法</th>
                                                                        <th>数量</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab-7" class="tab-pane fade">
                            <div class="panel-body">
                                <p>近日沃尔沃宣布将联合瑞典汽车安全公司奥托立夫(AUTOLIV)成立一个独立子公司，该公司将专攻瞄准未来车型自动驾驶技
                                    术相关的研发。奥托立夫公司(AUTOLIV)是在瑞典设立的一家国际跨国公司，公司多年来研发汽车电子安全系统、电子控制单元，汽车方向盘系统以及夜视
                                    和雷达传感系统，新的合作能够让新公司吸取Autoliv多年来在汽车驾驶安全配件制造方面的经验，研发未来用于沃尔沃或其它厂商的无人驾驶软件系统。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        refreshPatientInfo();
    });

    $.fn.serializeObject = function () {
        var obj = {};
        var formArray = this.serializeArray();
        for (var i = 0; i < formArray.length; i++) {
            obj[formArray[i].name] = formArray[i]['value'];
        }
        obj['registerUserID'] = 1;
        return obj;
    };

    function refreshPatientInfo() {
        let doctorID = 1;
        let sendJson = {};

        sendJson['doctorID'] = doctorID;
        $.ajax({
            url: "/getAllPatientNotDiagnose",
            type: "post",
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify(sendJson),
            success: function (PatientInfo) {
                $("#patientNotDiagnose tbody").empty();
                for (let i = 0; i < PatientInfo.length; i++) {
                    $("#patientNotDiagnose tbody").append(
                        '<tr>' +
                        '<td>' + PatientInfo[i].medicalRecordID + '</td>' +
                        '<td>' + PatientInfo[i].patientName + '</td>' +
                        '<td>' + PatientInfo[i].age + '</td>' +
                        '<td><button type="button" class="btn btn-sm btn-primary" onclick="diagnoseNow(this)" value="' + PatientInfo[i].registrationID + '">' +
                        '<i class="fa fa-medkit"></i></button></td>' +
                        '</tr>');
                }
            }
        });
        $.ajax({
            url: "/getAllPatientDiagnose",
            type: "post",
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify(sendJson),
            success: function (PatientInfo) {
                $("#patientDiagnose tbody").empty();
                for (let i = 0; i < PatientInfo.length; i++) {
                    $("#patientDiagnose tbody").append(
                        '<tr>' +
                        '<td>' + PatientInfo[i].medicalRecordID + '</td>' +
                        '<td>' + PatientInfo[i].patientName + '</td>' +
                        '<td>' + PatientInfo[i].age + '</td>' +
                        '<td><button type="button" class="btn btn-sm btn-primary" disabled="disabled" onclick="diagnoseNow(this)" value="' + PatientInfo[i].registrationID + '">' +
                        '<i class="fa fa-medkit"></i></button></td>' +
                        '</tr>');
                }
            }
        });
    }

    function diagnoseNow(obj) {
        let registrationID = $(obj).attr("value");
        let sendJson = {};
        sendJson["registrationID"] = registrationID;

        $.ajax({
            url: "/getSpecificPatientInfo",
            type: "post",
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify(sendJson),
            success: function (PatientInfo) {
                let diagnosingPatient = "患者姓名：";
                diagnosingPatient += PatientInfo.patientName;
                diagnosingPatient += " 病历号：";
                diagnosingPatient += PatientInfo.medicalRecordID;
                diagnosingPatient += " 年龄：";
                diagnosingPatient += PatientInfo.age;
                diagnosingPatient += " 性别：";
                diagnosingPatient += PatientInfo.gender;

                $("#diagnosingPatient").text(diagnosingPatient);
                $("#diagnosingPatientRegistrationID").attr("value", registrationID);
            }
        });
    }

    $(document).ready(function () {
        $("input[name='searchDiseaseCategory']").bind("input propertychange", function () {
            let sendJson = {};
            sendJson["pattern"] = $("input[name='searchDiseaseCategory']").val();
            $.ajax({
                url: "/findDiseaseCategory",
                type: "post",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify(sendJson),
                success: function (DiseaseCategoryInfo) {
                    $("#diseaseCategoryList").empty();
                    for (let i = 0; i < DiseaseCategoryInfo.length; i++) {
                        $("#diseaseCategoryList").append('<option name="' + DiseaseCategoryInfo[i].diseaseCateId + '">' + DiseaseCategoryInfo[i].diseaseCateName + '</option>');
                    }
                }
            });
        });
    });

    var pageNum = 1;
    var wholePageNum = 0;

    function findDiseaseNextPage() {
        if (pageNum < wholePageNum) {
            pageNum++;
            let diseaseCategorySearch = $("input[name='searchDiseaseCategory']").val();
            let diseaseSearch = $("input[name='searchDisease']").val();
            let sendJson = {};
            sendJson["diseaseCategory"] = diseaseCategorySearch;
            sendJson["pattern"] = diseaseSearch;
            sendJson["pageNum"] = pageNum;
            sendJson["pageSize"] = 8;

            $.ajax({
                url: "/findDisease",
                type: "post",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify(sendJson),
                success: function (DiseaseInfo) {
                    $("#searchResult").empty();
                    for (let i = 0; i < DiseaseInfo.length; i++) {
                        $("#searchResult").append('<h4><button type="button" class="btn btn-link" onclick="addDisease(this)" id="' + DiseaseInfo[i].diseaseId + '">' + DiseaseInfo[i].diseaseIcd + ' ' + '</button></h4>');
                        $("#searchResult").append('<p id="' + DiseaseInfo[i].diseaseId + '">' + DiseaseInfo[i].diseaseName + ' ' + '</p>');
                    }
                    $("#pageNum" + pageNum).attr("class", "btn btn-white active");
                    $("#pageNum" + (pageNum - 1)).attr("class", "btn btn-white");
                }
            });
        }
    }

    function findDiseaseLastPage() {
        console.log(pageNum);
        if (pageNum > 1) {
            pageNum--;
            let diseaseCategorySearch = $("input[name='searchDiseaseCategory']").val();
            let diseaseSearch = $("input[name='searchDisease']").val();
            let sendJson = {};
            sendJson["diseaseCategory"] = diseaseCategorySearch;
            sendJson["pattern"] = diseaseSearch;
            sendJson["pageNum"] = pageNum;
            sendJson["pageSize"] = 8;

            $.ajax({
                url: "/findDisease",
                type: "post",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify(sendJson),
                success: function (DiseaseInfo) {
                    $("#searchResult").empty();
                    for (let i = 0; i < DiseaseInfo.length; i++) {
                        $("#searchResult").append('<h4><button type="button" class="btn btn-link" onclick="addDisease(this)" id="' + DiseaseInfo[i].diseaseId + '">' + DiseaseInfo[i].diseaseIcd + ' ' + '</button></h4>');
                        $("#searchResult").append('<p id="' + DiseaseInfo[i].diseaseId + '">' + DiseaseInfo[i].diseaseName + ' ' + '</p>');
                    }
                    $("#pageNum" + pageNum).attr("class", "btn btn-white active");
                    $("#pageNum" + (pageNum + 1)).attr("class", "btn btn-white");
                }
            });
        }
    }

    function findDiseaseThisPage(obj) {
        $("#pageNum" + pageNum).attr("class", "btn btn-white");
        pageNum = $(obj).text();
        let diseaseCategorySearch = $("input[name='searchDiseaseCategory']").val();
        let diseaseSearch = $("input[name='searchDisease']").val();
        let sendJson = {};
        sendJson["diseaseCategory"] = diseaseCategorySearch;
        sendJson["pattern"] = diseaseSearch;
        sendJson["pageNum"] = pageNum;
        sendJson["pageSize"] = 8;
        $.ajax({
            url: "/findDisease",
            type: "post",
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify(sendJson),
            success: function (DiseaseInfo) {
                $("#searchResult").empty();
                for (let i = 0; i < DiseaseInfo.length; i++) {
                    $("#searchResult").append('<h4><button type="button" class="btn btn-link" onclick="addDisease(this)" id="' + DiseaseInfo[i].diseaseId + '">' + DiseaseInfo[i].diseaseIcd + ' ' + '</button></h4>');
                    $("#searchResult").append('<p id="' + DiseaseInfo[i].diseaseId + '">' + DiseaseInfo[i].diseaseName + ' ' + '</p>');
                }
                $(obj).attr("class", "btn btn-white active");
            }
        });
    }

    $(document).ready(function () {
        $("#searchNow").click(function () {
            pageNum = 1;
            let diseaseCategorySearch = $("input[name='searchDiseaseCategory']").val();
            let diseaseSearch = $("input[name='searchDisease']").val();
            let sendJson = {};
            sendJson["diseaseCategory"] = diseaseCategorySearch;
            sendJson["pattern"] = diseaseSearch;
            sendJson["pageNum"] = pageNum;
            sendJson["pageSize"] = 8;
            $.ajax({
                url: "/findDisease",
                type: "post",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify(sendJson),
                success: function (DiseaseInfo) {
                    $("#searchResult").empty();
                    wholePageNum = DiseaseInfo[0].wholePage;
                    for (let i = 0; i < DiseaseInfo.length; i++) {
                        $("#searchResult").append('<h4><button type="button" class="btn btn-link" onclick="addDisease(this)" id="' + DiseaseInfo[i].diseaseId + '">' + DiseaseInfo[i].diseaseIcd + '</button></h4>');
                        $("#searchResult").append('<p id="' + DiseaseInfo[i].diseaseId + '">' + DiseaseInfo[i].diseaseName + ' ' + '</p>');
                    }
                    $("#firstPageNum").empty();
                    $("#firstPageNum").append('<button class="btn btn-white" type="button" onclick="findDiseaseLastPage()"><i class="fa fa-chevron-left"></i></button>');
                    for (let i = 0; i < DiseaseInfo[0].wholePage; i++) {
                        if (i == 0) {
                            $("#firstPageNum").append('<button class="btn btn-white active" onclick="findDiseaseThisPage(this)" id="pageNum' + (i + 1) + '">' + (i + 1) + '</button>');
                        } else {
                            $("#firstPageNum").append('<button class="btn btn-white" onclick="findDiseaseThisPage(this)" id="pageNum' + (i + 1) + '">' + (i + 1) + '</button>');
                        }
                    }
                    $("#firstPageNum").append('<button class="btn btn-white" type="button"><i class="fa fa-chevron-right" onclick="findDiseaseNextPage()"></i></button>\n');
                }
            });
        });
    });

    function addDisease(obj) {
        let diseaseID = $(obj).attr("id");
        let diseaseName = $("p[id=" + diseaseID + "]").text();
        let diseaseICD = $(obj).text();
        $("#confirmInfoTable tbody").append(
            '<tr>' +
            '<td><input type="checkbox" class="i-checks" name="diseaseID" value="' + diseaseID + '"></td>' +
            '<td>' + diseaseICD + '</td>' +
            '<td>' + diseaseName + '</td>' +
            '<td></td>' +
            '<td><input class="form-control input-sm" type="date" name="' + diseaseID + '"></td>' +
            '</tr>');
    }

    function submitMedicalRecord(obj) {
        let confirmedList = [];
        let medicalRecordState = $(obj).text();
        let registrationID = $("#diagnosingPatientRegistrationID").attr("value");

        let formData = $("#medicalRecordInfo").serializeObject();

        $("input:checkbox[name=diseaseID]").each(function () {
            let confirmed = {};
            let diseaseID = $(this).attr("value");
            confirmed["diseaseTime"] = $('input[name=' + diseaseID + ']').val();
            confirmed["diseaseID"] = diseaseID;
            confirmedList.push(confirmed);
        });
        formData["medicalRecordState"] = medicalRecordState;
        formData["medicalConfirms"] = confirmedList;
        formData["medicalRegisterId"] = registrationID;

        $.ajax({
            url: "/writeMedical",
            type: "post",
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify(formData),
            success: function (ResultState) {
                alert(ResultState.detail);
                refreshPatientInfo();
            }
        });

    }
</script>

</body>
