<body>
<script src="js/myJS/prescribe.js"></script>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-content">
                <div class="form-group  row">
                    <label class="col-sm-2 col-form-label">病历号：</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="medicalRecordID">
                    </div>
                </div>
                <div class="form-group  row">
                    <label class="col-sm-2 col-form-label">时间：</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control" name="drugPreTime">
                        <br>
                        <button type="button" class="btn btn-w-m btn-primary" id="searchPrescribeInfo">搜索</button>
                    </div>
                </div>
            </div>
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>发药</h5>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped" id="prescribeInfoTable">
                            <thead>
                            <tr>
                                <th><input type="checkbox" class="i-checks" name="selectAll"></th>
                                <th>药品名称</th>
                                <th>单价</th>
                                <th>数量</th>
                                <th>开立医生</th>
                                <th>处方名称</th>
                                <th>开立时间</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <button type="button" class="btn btn-primary btn-sm" id="prescribeNow">
                                开药
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>