<body>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-title">
                <h5>患者信息查询</h5>
            </div>
            <div class="ibox-content">
                <div class="form-group  row">
                    <label class="col-sm-2 col-form-label">病历号：</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="medicalRecordID">
                        <br>
                        <button type="button" class="btn btn-w-m btn-primary" id="searchPatient">搜索</button>
                    </div>
                </div>
            </div>

            <div class="ibox-title">
                <h5>患者信息确认</h5>
            </div>
            <div class="ibox-content">
                <div class="form-group  row">
                    <label class="col-sm-2 col-form-label">姓名：</label>
                    <div class="col-sm-10"><input type="text" class="form-control" name="name"></div>
                </div>

                <div class="form-group  row">
                    <label class="col-sm-2 col-form-label">身份证号：</label>
                    <div class="col-sm-10"><input type="text" class="form-control" name="numID"></div>
                </div>
                <div class="form-group  row">
                    <label class="col-sm-2 col-form-label">家庭住址：</label>
                    <div class="col-sm-10"><input type="text" class="form-control" name="address"></div>
                </div>
            </div>

            <div class="ibox ">
                <div class="ibox-title">
                    <h5>患者挂号信息</h5>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped" id="RegistrationRecordInfo">
                            <thead>
                            <tr>
                                <th>病历号</th>
                                <th>姓名</th>
                                <th>身份证号</th>
                                <th>挂号日期</th>
                                <th>挂号午别</th>
                                <th>看诊科室</th>
                                <th>看诊状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function registerBack(obj) {
        let medicalRecordJson = {};
        let registrationJson = {};
        let medicalRecordID = $("input[name = 'medicalRecordID']").val();
        medicalRecordJson['medicalRecordID'] = medicalRecordID;
        registrationJson["registrationID"] = obj.id;
        $.ajax({
            url: "/registerBack",
            type: "post",
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify(registrationJson),
            success: function (ReturnState) {
                alert(ReturnState.state + "  " + ReturnState.detail);
                $("#RegistrationRecordInfo tbody").empty();
                $.ajax({
                    url: "/getRegistrationRecord",
                    type: "post",
                    contentType: "application/json",
                    dataType: "json",
                    data: JSON.stringify(medicalRecordJson),
                    success: function (PatientRegistrationRecord) {
                        let medicalRecordID = $("input[name = 'medicalRecordID']").val();
                        let name = $("input[name = 'name']").val();
                        let numID = $("input[name = 'numID']").val();
                        let address = $("input[name = 'address']").val();

                        for (let i = 0; i < PatientRegistrationRecord.length; i++) {
                            $("#RegistrationRecordInfo tbody").append(
                                '<tr>' +
                                '<td>' + medicalRecordID + '</td>' +
                                '<td>' + name + '</td>' +
                                '<td>' + numID + '</td>' +
                                '<td>' + PatientRegistrationRecord[i].registrationDate + '</td>' +
                                '<td>' + PatientRegistrationRecord[i].registrationNoon + '</td>' +
                                '<td>' + PatientRegistrationRecord[i].department + '</td>' +
                                '<td>' + PatientRegistrationRecord[i].registrationState + '</td>' +
                                '<td><button class="btn btn-sm btn-primary" onclick="registerBack(this)" id="' + PatientRegistrationRecord[i].registrationID + '">' + '退号' + '</button></td>' +
                                '</tr>');
                        }
                    }
                });
            }
        });
    }

    $(document).ready(function () {
        $("#searchPatient").click(function () {
            let medicalRecordID = $("input[name = 'medicalRecordID']").val();
            if (medicalRecordID.length != 0) {
                let sendJson = {};
                sendJson['medicalRecordID'] = medicalRecordID;
                $.ajax({
                    url: "/getRegistrationInfo",
                    type: "post",
                    contentType: "application/json",
                    dataType: "json",
                    data: JSON.stringify(sendJson),
                    success: function (RegistrationInfo) {
                        $("input[name = 'medicalRecordID']").val(RegistrationInfo.medicalRecordID);
                        if (true) {
                            $("input[name = 'name']").val(RegistrationInfo.patientName);
                            $("input[name = 'numID']").val(RegistrationInfo.numID);
                            $("input[name = 'address']").val(RegistrationInfo.address);
                        }
                    }
                });
                $("#RegistrationRecordInfo tbody").empty();
                $.ajax({
                    url: "/getRegistrationRecord",
                    type: "post",
                    contentType: "application/json",
                    dataType: "json",
                    data: JSON.stringify(sendJson),
                    success: function (PatientRegistrationRecord) {
                        let medicalRecordID = $("input[name = 'medicalRecordID']").val();
                        let name = $("input[name = 'name']").val();
                        let numID = $("input[name = 'numID']").val();
                        let address = $("input[name = 'address']").val();

                        for (let i = 0; i < PatientRegistrationRecord.length; i++) {
                            $("#RegistrationRecordInfo tbody").append(
                                '<tr>' +
                                '<td>' + medicalRecordID + '</td>' +
                                '<td>' + name + '</td>' +
                                '<td>' + numID + '</td>' +
                                '<td>' + PatientRegistrationRecord[i].registrationDate + '</td>' +
                                '<td>' + PatientRegistrationRecord[i].registrationNoon + '</td>' +
                                '<td>' + PatientRegistrationRecord[i].department + '</td>' +
                                '<td>' + PatientRegistrationRecord[i].registrationState + '</td>' +
                                '<td><button class="btn btn-sm btn-primary" onclick="registerBack(this)" id="' + PatientRegistrationRecord[i].registrationID + '">' + '退号' + '</button></td>' +
                                '</tr>');
                        }
                    }
                });
            }
        });
    });
</script>
</body>