<body>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-content">
                    <form id="registerInfo">
                        <div class="form-group  row">
                            <label class="col-sm-2 col-form-label">发票号：</label>
                            <div class="col-sm-10"><input type="text" class="form-control" name="invoiceID"
                                                          readonly="readonly"></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div><h4>挂号信息</h4></div>
                        <div class="form-group  row">
                            <label class="col-sm-2 col-form-label">病历号：</label>
                            <div class="col-sm-10"><input type="text" class="form-control" name="medicalRecordID"></div>
                        </div>
                        <div class="form-group  row">
                            <label class="col-sm-2 col-form-label">姓名：</label>
                            <div class="col-sm-10"><input type="text" class="form-control" name="name" required=""></div>
                        </div>
                        <div class="form-group row"><label class="col-sm-2 col-form-label">性别：</label>
                            <div class="col-sm-10"><select class="form-control m-b" name="gender">
                                <option>男</option>
                                <option>女</option>
                            </select>
                            </div>
                        </div>
                        <div class="form-group  row">
                            <label class="col-sm-2 col-form-label">年龄：</label>
                            <div class="col-sm-10"><input type="text" class="form-control" name="age" required=""></div>
                        </div>
                        <div class="form-group row"><label class="col-sm-2 col-form-label">年龄类别：</label>
                            <div class="col-sm-10"><select class="form-control m-b" name="ageType">
                                <option>岁</option>
                                <option>月</option>
                                <option>日</option>
                            </select>
                            </div>
                        </div>
                        <div class="form-group  row">
                            <label class="col-sm-2 col-form-label">出生日期：</label>
                            <div class="col-sm-10"><input type="date" class="form-control" name="birthday" required=""></div>
                        </div>
                        <div class="form-group  row">
                            <label class="col-sm-2 col-form-label">身份证号：</label>
                            <div class="col-sm-10"><input type="text" class="form-control" name="numID" required=""></div>
                        </div>
                        <div class="form-group  row">
                            <label class="col-sm-2 col-form-label">家庭住址：</label>
                            <div class="col-sm-10"><input type="text" class="form-control" name="address" required=""></div>
                        </div>
                        <div class="form-group row"><label class="col-sm-2 col-form-label">结算类别：</label>
                            <div class="col-sm-10"><select class="form-control m-b" name="chargeType">
                                <option>自费</option>
                                <option>市医保</option>
                            </select>
                            </div>
                        </div>
                        <div class="form-group  row">
                            <label class="col-sm-2 col-form-label">看诊日期：</label>
                            <div class="col-sm-10"><input type="date" class="form-control" name="registerDate" required=""></div>
                        </div>
                        <div class="form-group row"><label class="col-sm-2 col-form-label">午别：</label>
                            <div class="col-sm-10"><select class="form-control m-b" name="registerNoon">
                                <option>上午</option>
                                <option>下午</option>
                            </select>
                            </div>
                        </div>
                        <div class="form-group row"><label class="col-sm-2 col-form-label">挂号科室：</label>
                            <div class="col-sm-10"><select class="form-control m-b" name="department">
                                <option value="请选择">请选择</option>
                            </select>
                            </div>
                        </div>
                        <div class="form-group row"><label class="col-sm-2 col-form-label">号别：</label>
                            <div class="col-sm-10"><select class="form-control m-b" name="registerLevel">
                                <option>普通号</option>
                                <option>专家号</option>
                            </select>
                            </div>
                        </div>
                        <div class="form-group row"><label class="col-sm-2 col-form-label">看诊医生：</label>
                            <div class="col-sm-10"><select class="form-control m-b" name="doctorID">
                                <option value="请选择">请选择</option>
                            </select>
                            </div>
                        </div>
                        <div class="form-group  row">
                            <label class="col-sm-2 col-form-label">初始号额：</label>
                            <div class="col-sm-10"><input type="text" class="form-control" name="registerNum"
                                                          readonly="readonly"></div>
                        </div>
                        <div class="form-group  row">
                            <label class="col-sm-2 col-form-label">已挂号额：</label>
                            <div class="col-sm-10"><input type="text" class="form-control" name="registerUsedNum"
                                                          readonly="readonly"></div>
                        </div>
                        <div class="form-group row"><label class="col-sm-2 col-form-label">是否需要病历本：</label>
                            <div class="col-sm-10"><select class="form-control m-b" name="medicalBook">
                                <option>是</option>
                                <option>否</option>
                            </select>
                            </div>
                        </div>
                        <div class="form-group  row">
                            <label class="col-sm-2 col-form-label">应收金额：</label>
                            <div class="col-sm-10"><input type="text" class="form-control fixed" name="money" value="8"
                                                          readonly="readonly"></div>
                        </div>
                        <div class="form-group row"><label class="col-sm-2 col-form-label">收费方式：</label>
                            <div class="col-sm-10"><select class="form-control m-b" name="chargeWay">
                                <option>现金</option>
                                <option>医保卡</option>
                                <option>银行卡</option>
                                <option>信用卡</option>
                                <option>微信</option>
                                <option>支付宝</option>
                                <option>云闪付</option>
                                <option>其他</option>
                            </select>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group row">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-white btn-sm" type="reset" margin="padding-right: 20px">清空
                                </button>
                                <button class="btn btn-primary btn-sm" type="button" id="registerSubmit">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //初始化挂号界面的病历号、挂号科室
    $(document).ready(function () {
        var medicalRecordID = $("input[name = 'medicalRecordID']").val();
        var medicalIDJson = {};
        medicalIDJson['medicalRecordID'] = medicalRecordID;
        if (medicalRecordID.length == 0) {
            $.ajax({
                url: "/getRegistrationInfo",
                type: "post",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify(medicalIDJson),
                success: function (RegistrationInfo) {
                    $("input[name = 'medicalRecordID']").val(RegistrationInfo.medicalRecordID);
                }
            });
        }
        $.ajax({
            url: "/getAllDepartmentName",
            type: "post",
            contentType: "application/json",
            dataType: "json",
            success: function (DepartmentName) {
                for (let i = 0; i < DepartmentName.length; i++) {
                    $("select[name = 'department']").append("<option value = '" + DepartmentName[i].departmentName + "'>" + DepartmentName[i].departmentName + "</option>");
                }
            }
        })
        $.ajax({
            url: "/findAvailableInvoiceID",
            type: "post",
            success: function (MaxID) {
                $("input[name = 'invoiceID']").val(MaxID.invoiceID);
            }
        });
    });

    //将表单数据序列化并加入医生ID
    $.fn.serializeObject = function () {
        var obj = {};
        var formArray = this.serializeArray();
        for (var i = 0; i < formArray.length; i++) {
            obj[formArray[i].name] = formArray[i]['value'];
        }
        obj['registerUserID'] = [[${session.userID}]];
        return obj;
    };
    //挂号操作
    $(document).ready(function () {
        $("#registerSubmit").click(function () {
            let formData = $("#registerInfo").serializeObject();
            console.log(formData);
            $.ajax({
                url: "/register",
                type: "post",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify(formData),
                success: function () {
                    alert("挂号成功");
                }
            });
        });
    });

    //根据病历号更新病人信息
    $(document).ready(function () {
        $("input[name = 'medicalRecordID']").change(function () {
            let medicalRecordID = $("input[name = 'medicalRecordID']").val();
            let sendJson = {};
            sendJson['medicalRecordID'] = medicalRecordID;
            $.ajax({
                url: "/getRegistrationInfo",
                type: "post",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify(sendJson),
                success: function (RegistrationInfo) {
                    if (true) {
                        $("input[name = 'name']").val(RegistrationInfo.patientName);
                        $("select[name = 'gender']").val(RegistrationInfo.gender);
                        $("input[name = 'age']").val(RegistrationInfo.age);
                        $("input[name = 'birthday']").attr('value', RegistrationInfo.birthday);
                        $("input[name = 'numID']").val(RegistrationInfo.numID);
                        $("input[name = 'address']").val(RegistrationInfo.address);
                    }
                }
            });
        });
    });
    //根据挂号级别更新挂号金额
    $(document).ready(function () {
        //根据挂号级别更新挂号金额
        $("select[name = 'registerLevel']").change(function () {
            let registerLevel = $("select[name = 'registerLevel']").val();
            let sendJson = {};
            sendJson["registerLevel"] = registerLevel;
            $.ajax({
                url: "/getRegisterLevelMoney",
                type: "post",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify(sendJson),
                success: function (result) {
                    $("input[name='money']").val(result.invoiceID);
                }
            });
            refreshDoctor();
        });
    });

    //根据科室和挂号级别更新医生
    function refreshDoctor() {
        let deptNameJson = {};
        deptNameJson["departmentName"] = $("select[name = 'department']").val();
        deptNameJson["doctorLevel"] = $("select[name = 'registerLevel']").val();
        if (deptNameJson["departmentName"] != "请选择") {
            $.ajax({
                url: "/getDoctorNameByDept",
                type: "post",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify(deptNameJson),
                success: function (DoctorName) {
                    $("select[name = 'doctorID']").empty();
                    $("select[name = 'doctorID']").append("<option value='请选择'>请选择</option>>")
                    for (let i = 0; i < DoctorName.length; i++) {
                        $("select[name = 'doctorID']").append("<option value = '" + DoctorName[i].doctorID + "'>" + DoctorName[i].doctorName + "</option>");
                    }
                }
            });
        }
    }

    $(document).ready(function () {
        $($("select[name = 'department']")).change(function () {
            refreshDoctor();
        });
    });
    $(document).ready(function () {
        $($("select[name = 'doctorID']")).change(function () {
            let docIDJson = {};
            docIDJson["doctorID"] = $("select[name = 'doctorID']").val();
            if (docIDJson["doctorID"] != "请选择") {
                $.ajax({
                    url: "/getRegistrationNum",
                    type: "post",
                    contentType: "application/json",
                    dataType: "json",
                    data: JSON.stringify(docIDJson),
                    success: function (DoctorRegistrationNum) {
                        $("input[name = 'registerNum']").val(DoctorRegistrationNum.doctorRegistrationNum);
                        $("input[name = 'registerUsedNum']").val(DoctorRegistrationNum.doctorUsedRegistrationNum);
                    }
                });
            }
        });
    });

</script>
<script src="js/validator.js"></script>
<script src="js/input.js"></script>
<script src="js/main.js"></script>
</body>